<link rel=stylesheet href=//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css>
<div style='padding:10px'>
	<h4>Amazon Product Price lookup</h4>
	<form action=/product_price_lookup.html>
	product name (example: "samsung galaxy tab"):<br>
	<input name=product_name style='width:300px;'><br>
	<input type=submit value=submit>
	</form>
</div>