<link rel=stylesheet href=//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css>
<table class="table">
<% _.each(items,function(item) { %> 
  <tr>
    <% href = item['ItemLinks'][0]['ItemLink'][0]['URL'][0] %>
    <td>
	    <a target=_blank href=<%= href %>><%= item['ItemAttributes'][0]['Title'] %></a>
	  <td>
	    <%= item['Offers'][0]['Offer'][0]['OfferListing'][0]['Price'][0]['FormattedPrice'][0] %>
<% }) %>
</table>